<div class="flex justify-center items-center h-1/2 rounded-md">
  {{! The color itself }}
  <div class="h-1/2 w-full">

  </div>

  {{!-- The color details --}}
  <div class="flex justify-center items-center flex-col h-1/2 w-full">
    
  </div>
</div>