<html class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/input.css"
    />
    <link rel="stylesheet" href="css/dist/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex justify-center items-center flex-col h-full w-full bg-black"
  >
    <div
      id="card-parent"
      class="flex justify-center items-center flex-row h-3/4 w-full m-4"
    ></div>

    <div id="btns-container" class="flex justify-center items-center flex-row">
      {{! Start off with 5 colors, min 3 colors, max 8 colors }}
      <button
        id="remove"
        class="transition duration-150 font-body font-bold text-off-white rounded-full bg-dark-slate hover:bg-red m-1 px-5 py-2"
      >Remove card</button>
      <button
        id="add"
        class="transition duration-150 font-body font-bold text-off-white rounded-full bg-dark-slate hover:bg-green m-1 px-5 py-2"
      >Add a card</button>
      <button
        id="generate"
        class="transition duration-150 font-body font-bold text-off-white rounded-full bg-dark-slate hover:bg-green m-1 px-5 py-2"
      >Generate</button>
    </div>
    <script type="module" src="js/card-loader.js"></script>
    <script type="module" src="js/buttons.js"></script>
  </body>
</html>